<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    <p>
        Currently living in California working as a power systems engineer and  trying to learn as much about the fundamentals of the grid in a dynamic enegy landscape. I nurtured a fascination with the electric grid and the integration of renewables during a stint in a power systems research lab, and now get to work for one of the most forward-thinking electric utilities.
    </p>
</div>


<div>
    <p>
        At the University of Michigan, I (somehow) won prizes in two hackathons, was mentored by reknown researchers, joined a community of creatives (Shift), and enjoyed pushing my physical limits through rock climbing and triathlons. 
    </p>
</div>


<div>
    <p>
        Lately I've been trying to supplement work and climbing with yoga and Vipassana meditation. 
    </p>
</div>