<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    <p>
       Originally born in North Carolina, I spent my formative years in Michigan and attended the eponymous university in Ann Arbor, graduating with a Bachelor's in Electrical Engineering. At Michigan I focused mostly on power systems engineering since I was (and still am) interested in the energy industry. Outside of coursework I started going to hackathons, working on side projects, and rock climbing. 
    </p>
</div>


<div>
    <p>
        I started my engineering career at Pacific Gas & Electric, the utility spanning most of central and northern California. I worked in a few different Distribution Engineering groups, first working on Smart Inverter (per UL1741-SA) and Behind the Meter pilot projects where PG&E was looking at the impact of distributed energy resources on the distribution grid. Then I worked in the Distributed Generation group studying third party applications to connect generating resources to the distribution grid. My biggest learnings came from two years in Distribution Operations where I supported real time outages and equipment failures, substation test programs, temporary microgrids, and more (it was kind of a 'swiss army knife' type of role, since we were some only engineers in the company required to be on-call). After two years of this I moved down to San Diego, for family reasons and for a reset. 
    </p>
</div>


<div>
    <p>
       I'm currently working on various projects such as improving this blog, technical articles from my learnings at PG&E (check out the `technical` tag), and electronics hobbyist projects. If you have any technical input or edits to add the blog, send me an email or, since it is all hosted on GitHub, submit a pull request agaist `master-source`. 
    </p>
</div>